@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* { 
  font-family: "Josefin Sans";
  
  background: rgb(0, 0, 0) ;
}
/* (A) 3 COLUMNS PER ROW */
#grid_sala {
  display: grid;
  grid-template-columns: auto auto auto; 
  grid-gap: 10px;
  justify-content: center;
}
/* (B) 1 COL ON SMALL SCREENS */
@media screen and (max-width:768px) {
  #grid { grid-template-columns: auto; }
}

h1 { 
  color: #fff;
  text-align: center ;
  background: rgb(0, 0, 0) ;
  
}
/* (C) OPTIONAL FOR THE CELLS */
.head, .cell, .cell_red {  
  padding: 10px; 
}

.head {
  font-weight: bold;
  border: 1px solid #f18e8e;
  background: #ffbfbf;
}

.cell {
  border: 1px solid;
  background: #00DF5E;
  width: 200px;
  margin-top: 10px;
  margin-top: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}

/*.cell_red {
  border: 1px solid #c2ba3c;
  background: #ea722c;
  text-align: center;
  cursor: pointer;
}*/

.cell_red_myseat { 
  border: 1px solid ; 
  background: linear-gradient(90deg, #da0505 0%, #f10606 100%);
  width: 200px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.cell_sala { 
  border: 1px solid;
  background: #00DF5E;
  width: 150px;
  margin-top: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
}
